@using Blazored.Toast;
@inherits LayoutComponentBase
<head>
</head>
<div class="page w-full h-full">
    <main class="w-full h-full">
        <article class="content w-full h-full p-0">
            @Body
        </article>
        <SiteFooter />
    </main>
</div>
