@using Blazored.Toast;
@inherits LayoutComponentBase
<head>
</head>
<div class="page w-full h-full">
    <main class="w-full h-full">
        <nav class="flex h-[60px]  w-full p-4">
            <div class="flex-1 flex items-center px-4 md:justify-start">
                <a href="/">
                    <img src="./assets/logos/pure-minds-logo.png" alt="logo" class="w-[100px] object-cover" />
                </a>
            </div>
            <div class="items-center flex-1 justify-center gap-4 hidden md:flex">
                <a href="services">Services</a>
                <a href="projects">Work</a>
                <a href="about">About</a>
            </div>
            <div class="flex-1 flex items-center justify-end gap-4">
                <button class="text-sm">
                    [AR]
                </button>
                <button>
                    <img src="./assets/symbols/Component 13 – 23.png" alt="logo" class="h-[24px] w-[24px]" />
                </button>
                <div class="flex">
                    <button>
                        <img src="./assets/buttons/Rectangle 7.png" alt="logo" class="h-[30px] w-auto" />
                    </button>
                    <button>
                        <img src="./assets/buttons/Rectangle 8.png" alt="logo" class="h-[30px] w-auto" />
                    </button>
                </div>
            </div>
        </nav>
        <article class="content ">
            @Body
        </article>
        <SiteFooter />
    </main>
</div>
