@inject NavigationManager _nvmgr
@using Pureminds.Client.Components
<nav class="flex items-center h-[60px] w-full px-4 py-6 z-[1000]">
    <div class="flex-1 flex items-center px-4 md:justify-start">
        <a href="/">
            <img src="./assets/logos/pure-minds-logo.png" alt="logo" class="w-[100px] object-cover" />
        </a>
    </div>

    <div class="items-center flex-1 justify-center gap-4 hidden md:flex">
        <a class="bg-[#02021C20] text-bold text-lg font-medium hover:mb-4 block transition-all ease-linear p-1 px-2 rounded" href="services">Services</a>
        <a class="bg-[#02021C20] text-bold text-lg font-medium hover:mb-4 block transition-all ease-linear p-1 px-2 rounded" href="projects">Work</a>
        <a class="bg-[#02021C20] text-bold text-lg font-medium hover:mb-4 block transition-all ease-linear p-1 px-2 rounded" href="about">About</a>
        <a class="bg-[#02021C20] text-bold text-lg font-medium hover:mb-4 block transition-all ease-linear p-1 px-2 rounded" href="ProductsGrid">Products</a>
        <a class="bg-[#02021C20] text-bold text-lg font-medium hover:mb-4 block transition-all ease-linear p-1 px-2 rounded" href="ProjectSubmissions">Projects</a>
    </div>

    <div class="flex-1 flex items-center justify-end gap-2">
        <button class="text-sm">
            [AR]
        </button>
        <button>
            <img src="./assets/symbols/Component 13 – 23.png" alt="logo" class="h-[24px] w-[24px]" />
        </button>
        <a onclick="@NavigateToStartAProject" class="hidden md:flex items-center bg-gray-800 hover:bg-gray-700 text-white p-1 px-2 rounded hover:-translate-x-2 transition-all ease-linear">
            <span class="hidden lg:block mr-2">
                Start a project
            </span>
            <span>
                <i class="fas fa-plus"></i>
            </span>
        </a>
    </div>
    <div class="hidden">

        @* here triger ur function  *@
        <button class="rounded-md bg-red-500 flex flex-col gap-2 md:hidden">
            <div class="h-2 bg-black w-full" />
            <div class="h-2 bg-black w-full" />
            <div class="h-2 bg-black w-full" />
        </button>
        @* make the left equal 0 after clik left-0 *@
        <div class="items-center justify-start flex flex-col md:hidden fixed h-full bg-red-500 top-0 left-0 hover:-left-[300vw] w-1/2 gap-3
    transition-all w-full p-3 pt-20">
            <button class="rounded-md border absolute top-4 right-4">
                close
            </button>
            <a class="bg-white/10 text-base w-full font-medium hover:mb-4 block transition-all ease-linear p-1 px-2 rounded" href="services">Services</a>
            <a class="bg-white/10 text-base w-full font-medium hover:mb-4 block transition-all ease-linear p-1 px-2 rounded" href="#projects">Work</a>
            <a class="bg-white/10 text-base w-full font-medium hover:mb-4 block transition-all ease-linear p-1 px-2 rounded" href="about">About</a>
        </div>
    </div>
</nav>

@code {

}
