@inject HttpClient _client
<h2 class="text-xl font-semibold text-center mb-8">See what we've been working on</h2>
@if (products is not null && products.Count() != 0)
{
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-10">
        @foreach (Product product in products)
        {
            <div class="relative bg-gradient-to-b from-[#1E293B] to-[#0F172A] p-4 rounded-lg overflow-hidden hover:scale-105 transition-all ease-linear">
                <img src="./assets/projects/Group 497.png" alt="Card 1" class="w-full rounded-lg">
                <div class="absolute inset-0 flex flex-col justify-end p-4 bg-gradient-to-t from-black/70 to-transparent">
                    <p class="text-sm opacity-90 text-white">Full project title here / Full project title here</p>
                    <div class="flex mt-2 space-x-2"></div>
                </div>
            </div>
        }
    </div>
}
else
{
   <ContentLoading />
}
<p class="text-center mt-8">
    Do you feel ready? <a href="projectrequests" class="text-blue-400 underline">Let's work together</a>
</p>