@inject HttpClient _client
<section id="servicesextension" class="p-10">
    <header class="pt-16">
        <div class="md:flex md:justify-between ">
            <div class="text-start p-2 md:w-1/2">
                <h1 class="text-5xl font-bold text-white">We’re leading</h1>
                <h1 class="text-5xl font-bold text-white">media production</h1>
            </div>
            <div class=" text-start md:w-1/2 p-4">
                <p class="mt-4 text-2xl ">
                    We <span class="text-[#009ADE] text-2xl">Design</span>, <span class="text-[#F75226] text-2xl">Support</span> and <span class="text-[#F6AA07] text-2xl">Develop</span>
                </p>
                <p>
                    Pureminds implicitly understood our vision for the brand and were able to translate our ideas into a tangible and exciting new concept Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna  aliqua. Ut enim ad minim veniam, quis nostrud exercitation  ullamco laboris.
                </p>
            </div>
        </div>
    </header>


    @if (provisions is null)
    {
        <ContentLoading />
    }
    else
    {
        <div class="grid grid-cols-1 lg:grid-cols-2 p-8 items-start">
            <div class="mt-16 text-center">
                <div class="flex justify-start  flex-col md:flex-row items-center mb-4">
                    <div class="rounded-full flex  justify-center items-start">
                        <img src="./assets/icons/Group 2199.png" alt="Develop Icon">
                    </div>
                    <h2 class="ml-4 text-6xl font-bold">Develop</h2>
                </div>
                <div class="flex justify-end">
                    <ul class="text-lg space-y-4 list-decimal list-outside border-l-2 border-gray-300 pl-8 ">
                        @foreach (ProvidedProvision provision in provisions.Where(e=>e.WebsiteSectionId == 1 ))
                        {
                            <li class="border-b border-gray-300 pb-2 hover:translate-x-3 transition-all ease-linear">
                                @provision.Name
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="mt-16 text-center">
                <div class="flex flex-col md:flex-row justify-start items-center mb-8">
                    <div class="flex   rounded-full  justify-center items-center">
                        <img src="./assets/icons/Group 2201.png" alt="Support Icon">
                    </div>
                    <h2 class="ml-4 text-6xl font-bold">Support</h2>
                </div>
                <div class="flex justify-end">
                    <ul class="text-lg space-y-4 list-decimal list-outside border-l-2 border-gray-300 pl-8">
                        @foreach (ProvidedProvision provision in provisions.Where(e => e.WebsiteSectionId == 2))
                        {
                            <li class="border-b border-gray-300 pb-2 hover:translate-x-3 transition-all ease-linear">
                                @provision.Name
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="mt-16 text-center">
                <div class="flex flex-col md:flex-row justify-start items-center mb-8">
                    <div class="rounded-full flex justify-center items-center">
                        <img src="./assets/icons/Group 2210.png" alt="Design Icon">
                    </div>
                    <h2 class="ml-4 text-6xl font-bold">Design</h2>
                </div>

                <div class="flex  justify-end">
                    <ul class="text-lg space-y-4 list-decimal list-outside border-l-2 border-gray-300 pl-8">
                        @foreach (ProvidedProvision provision in provisions.Where(e => e.WebsiteSectionId == 3))
                        {
                            <li class="border-b border-gray-300 pb-2 hover:translate-x-3 transition-all ease-linear">
                                @provision.Name
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</section>