<section class="w-full min-h-scren" id="services">
    <div class="p-2 w-full  h-full relative items-center overflow-hidden">
        <img src="./assets/svgs/Path 16115.png" class="absolute top-0 left-0 w-full h-full object-cover  object-center opacity-100 py-2" />
        <div class="h-full w-full">
            @* block of quotes  *@
            <div class="relative z-20  flex items-start justify-between gap-5 md:gap-10 text-white px-2 md:px-8 py-3  ">
                <div class="w-1/2 flex items-start px-2 md:px-8">
                    <h2 class="text-lg md:text-4xl">
                        <span class="text-base mr-4">Our Enterprise </span>Strategies for advancing your business to new heights.
                    </h2>
                </div>
                <div class="w-1/2 flex items-start px-2 md:px-8">
                    <p class="mt-4 text-sm md:text-xl text-gray">   We provide comprehensive strategic solutions in the design, execution, and management of events, conferences, exhibitions, marketing campaigns, and media centers to create impact and drive change.</p>
                </div>
            </div>
            @* block of images *@
            <div class="relative z-20  flex items-start justify-between gap-5 md:gap-10 text-white px-2 md:px-8 py-8 h-full ">
                <div class="w-1/2 h-full relative p-2 relative">
                    <img src="./assets/services/shutterstock_1483381934.png"
                         class="object-cover  relative" />
                    <div class="absolute top-0 left-0 p-4">
                        <div class="w-[20px] md:w-[50px] lg:w-[70px] h-[20px] md:h-[50px] lg:h-[70px] ">
                            <img  class="h-full w-full" src="./assets/services/Group 2001.png" />
                        </div>
                        <div class="mt-2">
                            <h1 class="text-[9px] md:text-2xl lg:text-4xl xl:text-6xl  text-center">
                                Advertising
                                Campaigns
                            </h1>
                        </div>
                        <p class="p-4 text-[7px] md:text-sm lg:text-base xl:text-xl ">Management, execution, and organization of exhibitions and events that deliver unique and interactive experiences, focusing on building strong customer relationships and enhancing media presence and visibility.</p>
                    </div>
                </div>
                <div class="w-1/2 h-full relative p-2 ">
                    <img src="./assets/services/shutterstock_1483381934.png"
                         class="object-cover" />
                    <div class="absolute top-0 left-0 p-4 items-between">
                        <div class="w-[20px] md:w-[50px] lg:w-[70px] h-[20px] md:h-[50px] lg:h-[70px] ">
                            <img class="h-full w-full" src="./assets/services/Group 2001.png" />
                        </div>
                        <div class="mt-2">
                            <h1 class="text-[9px] md:text-2xl lg:text-4xl xl:text-6xl  text-center">
                                Advertising
                                Campaigns
                            </h1>
                        </div>
                        <p class="text-[7px] md:text-sm lg:text-base xl:text-xl ">Management, execution, and organization of exhibitions and events that deliver unique and interactive experiences, focusing on building strong customer relationships and enhancing media presence and visibility.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>