@using Pureminds.Client.Pages;
@page "/"
<head>
    <link rel="stylesheet" href="./css/home-page.css" />
</head>
<div class="home-content mt-5">
    <section id="home" class="h-[calc(100vh-100px)] items-between flex flex-col justify-between">
        <div class="flex relative w-full">
            <div class="w-2/5 relative">
                <img class="hidden md:block w-[800px] h-full absolute -top-1/4 -left-1/4 z-[50000]" src="./assets/effects/Rectangle 564.png" alt="effect" />
            </div>
            <div class="w-3/5">
                <h1 class="zoom-in-effect text-4xl md:text-6xl">
                    Welcome to
                    <span class="highlight"> Pureminds </span>, a leading media production company dedicated to creating captivating visual experiences.
                </h1>
                <div class="w-full overflow-hidden flex justify-start py-6 items-center gap-2">
                    <button>
                        <img src="./assets/symbols/Component 81 – 79.png" alt="logo" class="h-[40px] w-auto" />
                    </button>
                    <button class="flex items-center w-full">
                        <p> Meet the team</p>
                        <img src="./assets/svgs/Mask Group 1.png" alt="logo"/>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-full overflow-hidden">
            <div class="technologies-carousel flex items-center justify-center gap-6 overflow-hidden">
                <img src="./assets/logos/Group 1711.png" alt="Image 1">
                <img src="./assets/logos/Group 1718.png" alt="Image 2">
                <img src="./assets/logos/Group 1727.png" alt="Image 3">
                <img src="./assets/logos/Group 1732.png" alt="Image 4">
                <img src="./assets/logos/Group 1735.png" alt="Image 5">
                <img src="./assets/logos/Group 1737.png" alt="Image 6">

                <img src="./assets/logos/Group 1711.png" alt="Image 1">
                <img src="./assets/logos/Group 1718.png" alt="Image 2">
                <img src="./assets/logos/Group 1727.png" alt="Image 3">
                <img src="./assets/logos/Group 1732.png" alt="Image 4">
                <img src="./assets/logos/Group 1735.png" alt="Image 5">
                <img src="./assets/logos/Group 1737.png" alt="Image 6">

                <img src="./assets/logos/Group 1711.png" alt="Image 1">
                <img src="./assets/logos/Group 1718.png" alt="Image 2">
                <img src="./assets/logos/Group 1727.png" alt="Image 3">
                <img src="./assets/logos/Group 1732.png" alt="Image 4">
                <img src="./assets/logos/Group 1735.png" alt="Image 5">
                <img src="./assets/logos/Group 1737.png" alt="Image 6">

            </div>
        </div>
    </section>
   <Services/>
    
</div>