@using Pureminds.Client.Pages;
@page "/"
@inject HttpClient _client
@inject NavigationManager _nvmgr
<head>
    <link rel="stylesheet" href="./css/home-page.css" />
</head>
<div class="w-full relative">
    <div class="absolute top-0 left-0 z-[1000] w-full">
        <Navbar />
    </div>
    <div class="w-full">
        <video class="w-full  object-cover" autoplay>
            <source src="./assets/1725973084308.1736384901338.publer.io.mp4" type="video/mp4">
        </video>
    </div>
    <section id="home" class=" items-between flex flex-col justify-between mt-20 p-4">
        <div class="flex flex-col justify-between">
            <div class="flex relative w-full">
                <div class="p-2">
                    <h1 class="zoom-in-effect text-4xl md:text-6xl">
                        Welcome to
                        <span class="highlight"> Pureminds </span> @generalSetting.WelcomePhrase
                    </h1>
                    <div class="w-full overflow-hidden flex justify-start py-6 items-center gap-4 group">
                        <Pureminds.Client.Components.PuremindsButton LongButtonText="View All services" Clicked="@NavigateToAllServices"/>
                        <div>
                            <button class="flex items-center hover:translate-x-8 transition-all ease-linear py-3" href="TeamMembers">
                                <p class="text-sm md:text-base"> Meet the team</p>
                                <img src="./assets/svgs/Mask Group 1.png" alt="logo" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full overflow-hidden">
                <div class="technologies-carousel flex items-center justify-center gap-6 overflow-hidden">
                    <img src="./assets/logos/Group 1711.png" alt="Image 1">
                    <img src="./assets/logos/Group 1718.png" alt="Image 2">
                    <img src="./assets/logos/Group 1727.png" alt="Image 3">
                    <img src="./assets/logos/Group 1732.png" alt="Image 4">
                    <img src="./assets/logos/Group 1735.png" alt="Image 5">
                    <img src="./assets/logos/Group 1737.png" alt="Image 6">

                    <img src="./assets/logos/Group 1711.png" alt="Image 1">
                    <img src="./assets/logos/Group 1718.png" alt="Image 2">
                    <img src="./assets/logos/Group 1727.png" alt="Image 3">
                    <img src="./assets/logos/Group 1732.png" alt="Image 4">
                    <img src="./assets/logos/Group 1735.png" alt="Image 5">
                    <img src="./assets/logos/Group 1737.png" alt="Image 6">

                    <img src="./assets/logos/Group 1711.png" alt="Image 1">
                    <img src="./assets/logos/Group 1718.png" alt="Image 2">
                    <img src="./assets/logos/Group 1727.png" alt="Image 3">
                    <img src="./assets/logos/Group 1732.png" alt="Image 4">
                    <img src="./assets/logos/Group 1735.png" alt="Image 5">
                    <img src="./assets/logos/Group 1737.png" alt="Image 6">

                </div>
            </div>
        </div>
    </section>
    <Breif />
    <Pureminds.Client.Components.CompanyProjectsExtension />
    @if (relevantQuestions is not null)
    {
        <div class="p-5 flex gap-4">
            <div class="text-center text-5xl">
                <p>
                    The answers to your questions.
                </p>
            </div>
            <div class="flex justify-center p-9">
                <ul class="text-lg space-y-4 list-decimal list-outside border-l-2 border-gray-300 pl-8 py-5">
                    @foreach (RelevantQuestion relevantQuestion in relevantQuestions)
                    {
                        <li @onclick="() => NavigateToQuestion(relevantQuestion.Id)"
                            class="border-b border-gray-300 bg-gray-900 hover:bg-gray-700  hover:translate-x-3 transition-all ease-linear pb-2  rounded-lg p-3 cursor-pointer
                       transition-colors duration-200 ease-linear">
                            <p class="text-center text-black-950 text-lg"> @relevantQuestion.QuestionDesceiption</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
    else
    {
        <Pureminds.Client.Components.ContentLoading />
    }

</div>
