<section class="h-screen w-full" id="services">
    <div class="p-2 w-full h-full relative items-center">
        <img src="./assets/svgs/Path 16115.png" class="absolute top-0 left-0 w-full h-full object-cover scale-60 object-center opacity-50 z-10 py-2" />
        <div class="relative z-20 flex flex-col items-center justify-center  text-white">
            <h1 class="text-4xl md:text-6xl">
                Our Services
            </h1>
            <p class="mt-4 text-xl">Explore what we offer in terms of media production.</p>
        </div>
    </div>
</section>